body {
      background-image: url(//surveymonkey-assets.s3.amazonaws.com/smtheme/stock/7d00e426-ce61-5e7d-9106-a6e4e0311e0f.png);
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: rgb(189, 189, 189);
    border-width: 1px;
}
.loading-cycle, .fb-post, .fb-post > span, .twitter-tweet{
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
}
